# Core functionality - changes here should be rare!
/src/app.py                   @PlagueFencer
/src/backend/database.py      @PlagueFencer
/src/backend/routers/auth.py  @PlagueFencer

# The frontend will need refactored soon to be more object oriented.
/src/static/   @PlagueFencer
